 
 .standardfont{
     font-family: 'Pacifico', sans-serif;
}

.title {
     font-weight: 400;
     font-size: 72px;
     font-style: italic;
     text-shadow: 1px 1px 3px gray;
}

 .full button span {
     background-color: limegreen;
     border-radius: 32px;
     color: black;
 }
 
 .partially button span {
     background-color: orange;
     border-radius: 32px;
     color: black;
 }
 
 .white_font {
     color: #fff;
 }
 
 .spacingsidebar {
     margin-top: 60px;
     margin-bottom: 60px;
 }
 
 .spacinggeneral {
     margin-top: 15px;
     margin-bottom: 15px;
     padding: 3px;
 }
 
 .bordernavbar {
     border: 1px solid #e2e2e2;
 }
 
 .servicearaimage {
     height: 80%;
 }
 
 .background_turner_red {
     background: linear-gradient( rgba(255, 0, 0, 0.7), rgba(255, 0, 0, 0.9)), url(../images/turner.jpg);
 }
 
 .fulltilebg {
     background-size: cover;
     background-attachment: fixed;
 }
 
 .byline {
     line-height: 2;
 }
 
 .fullcoveragebg {
     background-size: 100%;
     background-repeat: no-repeat;
 }

.opacitystandard {
  opacity: .90;
}

.opacitybyline {
  opacity: .65;
}

.fontstrong{
     font-weight: bold !important;
}

.mapimageborder{
     padding: 1px;
     border: 1px solid black;  
}

.textalignleft{
  text-align:left;
}

.icondollarbg:before {
  font-family: "Glyphicons Halflings";
  content: "\e148"; }

  .statsicon {
  position: absolute;
  margin-top: -15px;
  font-weight: bold;
  font-color: white;
  font-size: 40px;
  opacity: .45;
 }

 #requestnow{
  -vendor-animation-duration: 3s;
  -vendor-animation-delay: 2s;
  -vendor-animation-iteration-count: infinite;
}